#mainContainer {
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    /* Set width in JS */
}

#gridPiece {
    border: pink dashed 1px;
    box-sizing: border-box;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.chosenCell {
    background-color: blueviolet;
}