h1 {
    text-align: center;    
    color: blueviolet;
    font-size: 300%;
    text-decoration: underline;
}

.subheader {
    text-align: center;
    color: blue;
    size: 200%;
}

.playButtons {
    text-align: center;
}

#mainContainer {
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    margin: auto;
}

#gridPiece {
    border: black dashed 1px;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}
